@import url('https://fonts.googleapis.com/css?family=Bangers|Pacifico');



body{
    background: url('../images/bgad.png') no-repeat;
    background-size: cover;
    color: beige;
}


.row{
    margin-top: 60px;
    
}

.my-4{
    width: 100px;
    margin: 0 auto;
}
#entete{
    width: 400px;
    margin: 40px auto;
    font-size: 60px;
    color:rgba(162, 202, 221, 0.829);
    font-family: 'Bangers', cursive;
}